bq_tables_list.txt
recap-cli
nvim/.config/nvim/plugin/
duckdb
cache.db
tools/bin/ngrok
tools/bin/greenclip


tools/.newsboat/cache.db.lock
tools/.config/pgcli/history
tools/.config/pgcli/log

tools/.newsboat/history.cmdline
tools/.newsboat/history.search
tools/bin/gh


nvim/.config/nvim/init-home-manager.vim
nvim/.config/nvim/init.lua
lazy-lock.json

# Files automatically created by home-manager
nvim/.config/nvim/init.lua
nvim/.config/nvim/init-home-manager.vim
