[Unit]
Description=Set wallpaper with feh

[Service]
Type=oneshot
Environment=DISPLAY=:0 
ExecStart=/bin/bash -c '/usr/bin/feh --bg-scale "/home/denis/Downloads/wallpaper.jpg"'

[Install]
WantedBy=default.target
