[Unit]
Description=Flameshot screenshot tool

[Service]
Type=simple
ExecStart=/home/denis/.nix-profile/bin/flameshot
Restart=always

[Install]
WantedBy=default.target
